<phpunit bootstrap="unittest/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="true">
	<testsuites>
		<testsuite name="Search classes for Coverage">
			<file>unittest/lifemeter/CoverageTest.php</file>
		</testsuite>
		<testsuite name="Generate testdata">
			<file>unittest/lifemeter/TestDataTest.php</file>
		</testsuite>
		<testsuite name="Testsuite for LifeMeter2.0">
			<directory>unittest/lifemeter</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">framework/Core</directory>
			<directory suffix=".php">framework/Lifemeter</directory>
			<directory suffix=".php">App/Manager</directory>
			<directory suffix=".php">App/Models</directory>			
		</whitelist>
	</filter>
	
</phpunit>
